@page
@model DormDash.Pages.MenuModel
@using DormDash;
@using Microsoft.AspNetCore.Http;
@{
    string errMessage;
    User user;
    Destination dest;
}


<h1 class="text-center">DormDash Menu</h1>


@if ((errMessage = HttpContext.Session.GetString("errMessage")) != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Whoops!</strong> @errMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

    <div class="container">
        @{ List<MenuItem> menuItems = HttpContext.Session.GetComplexObject<List<MenuItem>>("menuItems"); }
        @{
            foreach (MenuItem menuItem in menuItems)
            {
                <div class="card-dark" style="width: 18rem;">
                  <img src="@menuItem.imagePath" width="200" height="200">
                    <div class="card-body dark-mode">
                        <h5 class="card-title text-middle">@menuItem.Name</h5>
                        <p class="card-text">Price: $<span name="orderPrice">@menuItem.price</span></p>
                        @if (menuItem.available)
                        {
                            <label for="orderItem">Add to order</label>
                            <input type="checkbox" id="@menuItem.id" name="orderItem" value="@menuItem.id" style="width:auto;">
                        }
                        else
                        {
                            <p>This item is currently sold out.</p>
                        }

                    </div>
                </div>

            }
            <label for="dest">Select your location</label>
            <select class="dark-mode" name="dest" id="dest" required>
                @{foreach (building location in Enum.GetValues(typeof(building)))
                    {
                        <option value="@((int)location)">@location</option>

                    }

                }
            </select>
            <br />
            <label for="roomNum">Room Number</label>
            <input type="text" pattern="[0-9]+" class="form-inline d-inline-block dark-mode" name="roomNum" id="roomNum" required>
            <br />
            <label>How are you paying today?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="flex" name="payment_method" value="flex" checked="checked" required>
                <label class="form-check-label" for="flex">Flex</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="dining" name="payment_method" value="dining">
                <label class="form-check-label" for="dining">Dining</label>
            </div><br />
            @if ((user = HttpContext.Session.GetComplexObject<User>("user")) != null)
                {
                <button class="btn btn-outline-success" type="button" onclick="createAndSubmitForm()">Place Order</button>
                }
            else
                {
                <a class="btn btn-outline-success" asp-page="/Login">Login to Order</a>
                }
            }


    </div>

    <form method="post" id="orderForm" hidden="true">
        @{Html.AntiForgeryToken();}
    </form>




<script type="text/javascript">
    function createAndSubmitForm() {
        var orderItemsArr = document.getElementsByName("orderItem");
        var destination = document.getElementById("dest");
        var itemsToPurchase = "";
        var roomNum = document.getElementById("roomNum");
        var paymentMethods = document.getElementsByName("payment_method");
        var paymentMethod;
        for (pm of paymentMethods) {
            if (pm.checked) {
                paymentMethod = pm;
            }
        }

        for (orderItem of orderItemsArr) {
            if (orderItem.checked) {
                itemsToPurchase += orderItem.value + ",";
            }
        }
        itemsToPurchase = itemsToPurchase.substring(0, itemsToPurchase.length - 1);

        var field = document.getElementById("orderForm");
        var input = document.createElement("input")
        input.setAttribute("type", "text");
        input.setAttribute("value", itemsToPurchase);
        input.setAttribute("name", "itemsToPurchase");

        if (itemsToPurchase == null || destination.value == null || roomNum.value == 0 || paymentMethod.value == null || itemsToPurchase == null) {



        } else {
            field.appendChild(paymentMethod);
            field.appendChild(input);
            field.appendChild(destination);
            field.appendChild(roomNum);
            document.body.appendChild(field);
            field.submit();
        }

        

        
    }
</script>
