@page
@model DormDash.Pages.MenuModel
@using DormDash;
@using Microsoft.AspNetCore.Http;


<h1 class="text-center">DormDash Menu</h1>

<div class="container">
    @{ List<MenuItem> menuItems = HttpContext.Session.GetComplexObject<List<MenuItem>>("menuItems"); }
    @{
        foreach (MenuItem menuItem in menuItems)
        {
        <div class="card-dark" style="width: 18rem;">
                <div class="card-body dark-mode">
                    <h5 class="card-title text-middle">@menuItem.Name</h5>
                    <p class="card-text">Price: $<span name="orderPrice">@menuItem.price</span></p>
                    @if (menuItem.available)
                     {
                       <label for="orderItem">Add to order</label>
                       <input type="checkbox" id="@menuItem.id" name="orderItem" value="@menuItem.id" style="width:auto;">
                     }
                    else
                    {
                        <p>This item is currently sold out.</p>
                    }

                </div>
        </div>

        }

        <button class="btn btn-outline-success"type="button" onclick="createAndSubmitForm()">Add Items to Order</button>
    }

</div>

<form method="post" hidden="true" id="orderForm">
    @Html.AntiForgeryToken();
</form>



<script type="text/javascript">
    function createAndSubmitForm() {
        var orderItemsArr = document.getElementsByName("orderItem");
        var orderPricesArr = document.getElementsByName("orderPrice");

        var itemsToPurchase = "";

        for (orderItem of orderItemsArr) {
            if (orderItem.checked) {
                itemsToPurchase+=orderItem.value+",";
            }
        }
        itemsToPurchase = itemsToPurchase.substring(0, itemsToPurchase.length - 1);

        var field = document.getElementById("orderForm");
        var input = document.createElement("input")
        input.setAttribute("type", "text");
        input.setAttribute("value", itemsToPurchase);
        input.setAttribute("name", "itemsToPurchase");

        field.appendChild(input);
        document.body.appendChild(field);

        field.submit();
       

    }
</script>