@page
@model DormDash.Pages.OrderConfirmedModel
@{
    ViewData["Title"] = "Order Confirmed";
    double totalPrice = 0.0;
}
@using DormDash;
@using Microsoft.AspNetCore.Http;


<h1 class="display-4">OrderConfirmed</h1>
@{
    Order currentOrder = HttpContext.Session.GetComplexObject<Order>("newOrder");

    <div class="container">
        <u1 class="list-group">
            <li class="list-group-item list-group-item-dark">Order for user ID: @currentOrder.userId</li>
            <li class="list-group-item list-group-item-dark">Order# @currentOrder.id</li>
            <li class="list-group-item list-group-item-dark">@currentOrder.orderDestination.building Room @currentOrder.orderDestination.roomNumber</li>

            @foreach (var orderedItem in currentOrder.orderedItems)
            {
                <li class="list-group-item list-group-item-dark">@orderedItem.Name   $@orderedItem.price</li>
                totalPrice += orderedItem.price; 
            }

            <li class="list-group-item list-group-item-dark">Total Price: $@totalPrice</li>

        </u1>
    </div>

}



