@page
@model DormDash.Pages.SpartsAdminModel
@{
    ViewData["Title"] = "SpartsAdmin";
}
@using DormDash;
@using Microsoft.AspNetCore.Http;



    <div class="container">
        @{List<Order> waitingOrders = HttpContext.Session.GetComplexObject<List<Order>>("waitingOrders");
            List<Order> ackedOrders = HttpContext.Session.GetComplexObject<List<Order>>("ackedOrders");

            <h2 class="display-4">Waiting Orders</h2>
            <u1>
                @foreach (var waitingOrder in waitingOrders)
                {
                    @waitingOrder.userId
                    foreach (var item in waitingOrder.orderedItems)
                    {
                    
                
                    <li class="list-group-item list-group-item-dark">@item.Name  $@item.price</li>

                    }

                 }

            </u1>
           

            <h2>Acknowledged Orders</h2>
            foreach (var ackedOrder in ackedOrders)
            {
                <p>Order for user ID</p>
                @ackedOrder.userId
                foreach (var item in ackedOrder.orderedItems)
                {

                    <table>
                        <tr>
                            <td>
                                @item.Name

                            </td>
                            <td>

                                @item.price
                            </td>

                        </tr>
                    </table>

                }

            }


        }



    </div>